<!DOCTYPE html>
<html>
<head>
	
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<style>
		label {
			margin-bottom: 10px;
		}
	</style>
</head>
<title>Power Consumption Prediction</title>
<div class="intro">
	<h2>Welcome to the Power Consumption Prediction App</h2>
	<p>This app allows you to predict the power consumption of Tetouan city based on the temperature and humidity degrees. Simply enter the values and choose a model type, and the app will predict the power consumption in KW for you.</p>
</div>
<body>
	<div class="login">
		<form method="POST">
			<div>
				<label for="Temperature" style="display: inline-block; width: 80%; margin-bottom: 10px;">Enter a temperature degree:</label>
				<input type="number" id="Temperature" name="Temperature" style="display: inline-block; width: 50%" required>
			</div>
		
			<div>
				<label for="Humidity" style="display: inline-block; width: 80%; margin-bottom: 10px;">Enter a humidity degree:</label>
				<input type="number" id="Humidity" name="Humidity" style="display: inline-block; width: 50%" required>
			</div>
			
			<div>
				<label for="model_type" style="display: inline-block; width: 80%; margin-bottom: 10px;">Choose The Model Type:</label>
				<select id="model_type" name="model_type" style="display: inline-block; width: 50%">
					<option value="linear_regression">Linear Regression</option>
					<option value="support_vector_machine">Support Vector Machine</option>
				</select>
			</div>
			
			<br> 

			<input type="submit" value="Predict" class="btn btn-primary btn-block btn-large">
		</form>
		
		{% if prediction %}
			<br>
			<p style="color: yellow">Predicted Power Consumption for Tetouan City: {{ prediction }} KW</p>
		{% endif %}

		<br>
		
	</div>

	<body>
		<!-- Your existing code -->
		<footer>
			<p>Realised by Outmane Amlal  </p>
			<p> </p>Supervised By Tali Abdelhak </p>
		</footer>
	</body>
</body>
</html>